**/.DS_Store
**/__pycache__/
*.bsf
*.cdf
*.cmp
*.csv
*.ddb
*.done
*.f
*.jdi
*.orig
*.pin
*.ppf
*.py[cod]
*.qdf
*.qarlog
*.qws
*.rej
*.rpt
*.sip
*.smsg
*.sof
*.sopcinfo
*.spd
*.srf
*.summary
*.vcxproj.user
*.xml
*_netlist
*_sim
*~
.qsys_edit
.vs/
.vscode/

# (default name) pull test builds into rbf_archive before clean.bat
dse/

build_id.v
c5_pin_model_dump.txt
db/
docs/rca-technical/
dse*.log
greybox_tmp
hc_output
hps_isw_handoff
imgui.ini
incremental_db/
misc/
out/

# pull test builds into rbf_archive before clean.bat
output_files/

PLLJ_PLLSPE_INFO.txt

# intentionally leaving out of MiSTer-devel
rom/
rbf_archive/
audio_refs/
refs/
refvideo/
software/
tools/mame-roms/
tools/mame-work/

scaler/
simulation/
tools/refemu/*.o
tools/refemu/out/
tools/refemu/studio2
tools/refemu/studio2.exe
tools/refemu/studio2_headless
tools/refemu/studio2_headless.exe
verilator/.vs/sim/v17/Browse.VC.db
verilator/.vs/sim/v17/ipch/AutoPCH/181b54f0b0efa9df/SIM_MAIN.ipch
verilator/bin/
verilator/boot.rom
verilator/obj_dir/
verilator/obj_dir_headless/
verilator/out/
verilator/sim.vcd
verilator/spacewar.bin
verilator/x64/Debug/
vip
/instructions
dse2_base.qsf
dse2_base.qpf
dse1_base.qsf
dse1_base.qpf
/screenshots
/untracked_docs
